<%= box title: 'Notebooks' do %>
  <div class="new-notebook">
    <%= link_to 'Create new notebook', new_notebook_path %>
  </div>
  <div class="notebooks">
    <% notebooks.each do |notebook| %>
      <div class="notebook">
        <%= link_to notebook.name, notebook_sections_path(notebook), class: 'main-button list-group-item-action' %>
        <%= link_to '#', class: 'edit-button list-group-item-action' do %>
          <%= octicon 'pencil' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
