<h1>Log in</h1>

<%= simple_form_for :log_in, url: sessions_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean, inline_label: 'Remember me' %>
    <%= f.button :submit, 'Log in' %>
<% end %>
