.box.card.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone
  .top-section
    = link_to notice.name, notebook_section_notice_path(id: notice.id)
    .card-menu
      %button.mdl-button.mdl-js-button.mdl-button--icon{id: "menu-button-#{notice.id}"}
        %i.material-icons more_vert
      %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for: "menu-button-#{notice.id}"}
        %li.mdl-menu__item
          = link_to t('action.edit'), edit_notebook_section_notice_path(id: notice.id)
        %li.mdl-menu__item
          = link_to t('action.delete'), notebook_section_notice_path(id: notice.id), method: :delete, data: { confirm: t('are_you_sure') }
