<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:page_title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render partial: 'shared/flash_messages', flash: flash %>
      <% if content_for?(:page_title) %>
        <div id="page_title"><%= yield(:page_title) %></div>
      <% end %>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
