<!DOCTYPE html>
<html>
  <head>
    <title>Repeek</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/flash_messages', flash: flash %>

    <div class="container">
      <div>
        <% if current_user %>
          Logged in as <%= current_user.name %>
          <%= link_to 'log out', log_out_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign up', sign_up_path %> or
          <%= link_to 'Log in', log_in_path %>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
